[user]
    name = Adrien Lebègue
    email = adrien.lebegue@gmail.com
[init]
    defaultBranch = main
[credential]
	helper = cache
[alias]
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	autocrlf = false
	whitespace = cr-at-eol
