* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 12px;
  min-height: 0;
  padding: 0px;
  margin: 0px;
  margin-top: 1px;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
}

#workspaces {
  border-radius: 5px;
  background: #101010;
  margin-left: 10px;
  padding: 2px 5px 2px 10px;
}

#workspaces button {
  color: #babbf1;
  border-radius: 5px;
  padding-right: 10px;
}

#workspaces button.active {
  color: #99d1db;
  border-radius: 5px;
}

#workspaces button:hover {
  color: #ea999c;
  border-radius: 5px;
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
  border-color: transparent;
}

#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#temperature,
#memory,
#custom-lock,
#custom-fan,
#custom-power {
  background-color: #101010;
  padding: 2px 5px 2px 10px;
}

#memory {
}

#clock {
  color: #8caaee;
  border-radius: 5px;
}

#battery {
  color: #a6d189;
}

#battery.charging {
  color: #a6d189;
}

#battery.warning:not(.charging) {
  color: #e78284;
}

#backlight {
  color: #e5c890;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: #ea999c;
  border-radius: 5px 0px 0px 5%;
  margin-left: 1rem;
}

#temperature.critical {
  color: #e78284;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-music {
  color: #ca9ee6;
  border-radius: 5px;
}

#custom-lock {
  border-radius: 0px 5px 5px 0px;
  color: #babbf1;
  margin-right: 10px;
  padding-right: 15px;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 5px 5px 0px;
  color: #e78284;
}
